.App {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

.contactCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 21px;
}

.icon_add {
    font-size: 24px;
}

.h1 {
    font-size: 30px;
    font-weight: 600;
}

.h2 {
    font-size: 24px;
    font-weight: 500;
}

.h3 {
    font-size: 17px;
    font-weight: 500;
}

.f1 {
    font-size: 16px;
}

.f2 {
    font-size: 15px;
}

.f3 {
    font-size: 12px;
}

.mt2 {
    margin-top: 8px;
}

.mh2 {
    margin-left: 8px;
    margin-right: 8px;
}
.mv2 {
    margin-top: 8px;
    margin-bottom: 8px;
}
